* {
    padding: 0;
    margin: 0;
}

.conveyor {
    width: 15%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    background-color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conveyor>.conveyorTexture {
    width: 100%;
    height: 200%;
    position: absolute;
    background-image: url(../img/GamesImage/RecycleItems/ConveyorTexture.png);
    background-size: 100%;
    animation-name: running;
    animation-duration: 3.15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 1;
}

@keyframes running {
    0% {
        top: 0;
    } 100% {
        top: -100%;
    }
}

.slotItems {
    width: calc(100% - 15%);
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.slotItems>.slot {
    width: 240px;
    height: 240px;
    border: 4px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #555;
    position: relative;
}

.slotItems>button {
    padding: 20px 30px;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid #0f5f53;
    background-color: #0f5f53;
    color: white;
    transition-duration: .3s;
}

.slotItems>button:hover {
    background-color: #357738;
    border-color: #357738;
}

.slotItems>.slot>.removeItem {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0px;
    top: 0px;
    color: red;
    font-size: 50px;
    cursor: pointer;
}

.trashs {
    width: 160px;
    height: 160px;
    animation-name: slideTrash;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-timing-function: linear;
    top: calc(100% + 130px);
    z-index: 2;
    position: absolute;
}

.t2 {
    animation-delay: 1s;
}

.t3 {
    animation-delay: 2s;
}

.t4 {
    animation-delay: 3s;
}

@keyframes slideTrash {
    0% {
        top: calc(100% + 130px)
    } to {
        top: -130px
    }
}

.plastic {
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/GamesImage/RecycleItems/plastic.png);
}


.paper {
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/GamesImage/RecycleItems/paper.png);
}


.metal {
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/GamesImage/RecycleItems/metal.png);
}


.glass {
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/GamesImage/RecycleItems/glass.png);
}

.rag {
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/GamesImage/RecycleItems/rag.png);
}

.crumpPaper {
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/GamesImage/RecycleItems/crumpPaper.png);
}

.gBottle {
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/GamesImage/RecycleItems/glassBottle.png);  
}

.controls {
    width: 25%;
    height: 20%;
    position: fixed;
    right: -25%;
    bottom: 30px;
    border-radius: 8px;
    background-color: #0f5f5399;
    z-index: 1000;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .3s;
}

.opened {
    right: 30px;
}

.opened>.openandcloseControls>img {
    rotate: 180deg;
}

.openandcloseControls {
    width: 10%;
    height: 60px;
    position: absolute;
    left: -10%;
    top: calc(50% - 30px);
    border-radius: 120px 0 0 120px;
    background-color: #0f5f5399;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.openandcloseControls>img {
    width: 40px;
    height: 40px;
}

.controls>button {
    width: 70px;
    height: 70px;
    margin: 0 20px;
    background-color: transparent;
    border-radius: 4px;
    transition-duration: .3s;
    border: none;
    color: white;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls>button:hover {
    background-color: #f0f0f099;
}

.controls>.closeButton {
    font-size: 120px;
}

.tableCont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: calc(100% - 250px);
    position: absolute;
    left: 0;
    bottom: 0;
}

.tableCont>.table {
    width: 75%;
    height: 75%;
    position: absolute;
    background-color: #503530;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table>.creation {
    width: 400px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ragDoll {
    background-image: url(../img/GamesImage/RecycleItems/RecycledItems/RagDoll.png);
}

.telephone {
    background-image: url(../img/GamesImage/RecycleItems/RecycledItems/Telephone.png);
}

.cardboxToy {
    background-image: url(../img/GamesImage/RecycleItems/RecycledItems/CardboxToy.png);
}

.glassVase {
    background-image: url(../img/GamesImage/RecycleItems/RecycledItems/GlassVase.png);
}

.tinDrum {
    background-image: url(../img/GamesImage/RecycleItems/RecycledItems/TinDrum.png);
}