@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #a4e2f1;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url(../img/GamesImage/RecycleBin/bottomBackground.png);
    height: 100vh;
    overflow: hidden;
}

.binContainer {
    width: 100vw;
    height: 200px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.redBin,
.greenBin,
.blueBin,
.yellowBin,
.brownBin {
    width: 150px;
    height: 200px;
    background-position: center;
    background-size: cover;
    transition-duration: .2s;
}

.redBin:hover,
.greenBin:hover,
.blueBin:hover,
.yellowBin:hover,
.brownBin:hover {
    margin-top: -20px;
}

.redBin {
    background-image: url(../img/GamesImage/RecycleBin/redBin.png);
}

.greenBin {
    background-image: url(../img/GamesImage/RecycleBin/greenBin.png);
}

.blueBin {
    background-image: url(../img/GamesImage/RecycleBin/blueBin.png);
}

.yellowBin {
    background-image: url(../img/GamesImage/RecycleBin/yellowBin.png);
}

.brownBin {
    background-image: url(../img/GamesImage/RecycleBin/brownBin.png);
}

.itemSelected {
    width: 250px;
    height: 250px;
    position: absolute;
    right: 0;
    top: 0;
    box-sizing: border-box;
    border: 2px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 0 0 0;
        backdrop-filter: blur(5px);
}

.itemSelected p {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 0;
}

.itemSelected .viewer {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
}

.points {
    width: 250px;
    height: 250px;
    position: absolute;
    right: 0;
    top: 250px;
    box-sizing: border-box;
    border: 2px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    backdrop-filter: blur(5px);
}

.points span {
    margin: 0 5px;
}

.returnToPrincipal {
    position: absolute;
    right: 0;
    top:500px;
    border: 2px solid #555;
    width: 250px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 0 0 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .2s;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.returnToPrincipal:hover {
    background-color: #f007;
    color: white;
}

.gameContainer {
    width: calc(100% - 250px);
    height: 650px;
    position: relative;
}

.item {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 40PX;
    top: 40px;
}

.green {
    background-image: url(../img/GamesImage/RecycleBin/glassTrash.png);
}

.blue {
    background-image: url(../img/GamesImage/RecycleBin/paperTrash.png);
}

.red {
    background-image: url(../img/GamesImage/RecycleBin/plasticTrash.png);
}

.yellow {
    background-image: url(../img/GamesImage/RecycleBin/metalTrash.png);
}

.brown {
    background-image: url(../img/GamesImage/RecycleBin/organicTrash.png);
}

.clouds {
    background-image: url(../img/GamesImage/RecycleBin/cloudsBackground.png);
    background-size: cover;
    background-position: center;
    width: 300%;
    height: 20%;
    position: absolute;
    top: 0;
    left: 0;
    animation-name: clouds;
    animation-duration: 40s;
    animation-iteration-count: infinite;
}

@keyframes clouds {
0% {
    left: 0;
}
50% {
    left: -200%;
}
100% {
    left: 0;
}
}

.controls {
    width: 25%;
    height: 20%;
    position: fixed;
    right: -25%;
    bottom: 30px;
    border-radius: 8px;
    background-color: #0f5f5399;
    z-index: 1000;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .3s;
}

.opened {
    right: 30px;
}

.opened>.openandcloseControls>img {
    rotate: 180deg;
}

.openandcloseControls {
    width: 10%;
    height: 60px;
    position: absolute;
    left: -10%;
    top: calc(50% - 30px);
    border-radius: 120px 0 0 120px;
    background-color: #0f5f5399;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.openandcloseControls>img {
    width: 40px;
    height: 40px;
}

.controls>button {
    width: 70px;
    height: 70px;
    margin: 0 20px;
    background-color: transparent;
    border-radius: 4px;
    transition-duration: .3s;
    border: none;
    color: white;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls>button:hover {
    background-color: #f0f0f099;
}

.controls>.closeButton {
    font-size: 120px;
}

.rBar {
    width: 20%;
    height: 100%;
    position: fixed;
    right: -30%;
    transition-duration: .3s;
    top: 0;
    background-color: #0f5f5399;
    backdrop-filter: blur(20px);
    z-index: 1001;
    color: white;
    font-family: 'Playpen Sans', cursive;
    text-align: center;
    padding: 0 20px;
}

.rBar button {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 50px;
    color: white;
    background-color: transparent;
    border: none;
    transition-duration: .3s;
}

.rBar button:hover {
    background-color: rgba(255,255,255,0.7);
}

.rBar h1 {
    margin-bottom: 20px;
}

.rBar p {
    text-align: justify;
}

.hBarOpen {
    right: 0%;
}